cypress/fixtures/user-dir/flows.json
[
    {
        "id": "fbbaa338350e1589",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dashboard-ui-base",
        "type": "ui-base",
        "name": "UI Name",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ]
    },
    {
        "id": "dashboard-ui-theme",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        }
    },
    {
        "id": "dashboard-ui-page-1",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "dashboard-ui-base",
        "path": "/page1",
        "icon": "",
        "layout": "grid",
        "theme": "dashboard-ui-theme",
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": false
    },
    {
        "id": "a1ba982f1e2167e3",
        "type": "ui-group",
        "name": "Scheduler Main",
        "page": "dashboard-ui-page-1",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "7df21a2733c54bb1",
        "type": "ui-group",
        "name": "Scheduler Functions",
        "page": "dashboard-ui-page-1",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "33ac17d273a52d97",
        "type": "ui-scheduler",
        "z": "fbbaa338350e1589",
        "name": "scheduler",
        "group": "a1ba982f1e2167e3",
        "order": 1,
        "label": "Scheduler",
        "width": 6,
        "height": 1,
        "outputField": "payload",
        "locale": "en",
        "timeZone": "America/Chicago",
        "use24HourFormat": true,
        "useNewTimePicker": false,
        "storeName": "NONE",
        "commandResponseMsgOutput": "fanOut",
        "defaultLocation": "",
        "defaultLocationType": "env",
        "sendStateInterval": "5",
        "sendActiveState": true,
        "sendInactiveState": true,
        "topics": [
            "Topic 1"
        ],
        "customPayloads": [
            {
                "label": "test",
                "value": "test",
                "type": "str",
                "id": "f56a6c2cc2ff72c7"
            }
        ],
        "outputs": 2,
        "options": [],
        "x": 540,
        "y": 200,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c4ea3dc9798d8605",
        "type": "ui-button",
        "z": "fbbaa338350e1589",
        "group": "7df21a2733c54bb1",
        "name": "Add Schedule",
        "label": "Add Schedule",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "3463d87e74ad75a3"
            ]
        ]
    },
    {
        "id": "3463d87e74ad75a3",
        "type": "change",
        "z": "fbbaa338350e1589",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\": \"add\", \"schedule\":[{   \"name\": \"Schedule\",   \"topic\": \"Topic 1\",   \"enabled\": true,   \"scheduleType\": \"time\",   \"period\": \"daily\",   \"time\": \"00:00\",   \"timespan\": false,   \"days\": [     \"sunday\",     \"monday\",     \"tuesday\",     \"wednesday\",     \"thursday\",     \"friday\",     \"saturday\"   ],   \"payloadType\": true,   \"payloadValue\": true,   \"isDynamic\": true }]}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 200,
        "wires": [
            [
                "33ac17d273a52d97"
            ]
        ]
    }
]